@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /* Importa a fonte Noto Sans do Google Fonts */

:root {
    /* Paleta */
    --fundo: #132437; /* Cor de fundo principal */
    --bg-home: #010300; /* Cor de fundo secundária */
    --linha-decorativa: #C7CDD6; /* Cor de linhas decorativas */
    --texto-suave: #B3C0CF; /* Cor de texto secundário */
    --branco: #FFFFFF; /* Branco */
    --amarelo: #F7C13C; /* Amarelo destaque */
    --borda-suave: rgba(255, 255, 255, 0.2); /* Borda suave */
    --sombra-passo-clara: rgba(145,145,145,0.2); /* Sombra clara */
    --sombra-passo-escura: rgba(0,0,0,0.5); /* Sombra escura */
    --sombra-neo-clara: rgba(255,255,255,0.7); /* Sombra clara neomorfismo */
    --sombra-neo-escura: rgba(0,0,0,0.8); /* Sombra escura neomorfismo */

    /* Tipografia */
    --fonte: 'Noto Sans', sans-serif; /* Fonte padrão */
}

* {
    box-sizing: border-box; /* Inclui borda e padding no tamanho total */
    margin: 0; /* Remove margem padrão */
    padding: 0; /* Remove padding padrão */
    font-family: var(--fonte); /* Define fonte padrão */
}

html {
    scrollbar-width: thin; /* Define largura da barra de rolagem */
    scrollbar-color: var(--amarelo) var(--fundo); /* Define cor da barra de rolagem */
    scroll-behavior: smooth; /* Rolagem suave */
}